@use '../variables' as vars;
@use '../mixins' as *;

html {
  font-size: 16px;
}

body {
  // font-family: "Poiret One",sans-serif;
  font-family: vars.$font-main;
  background-color: vars.$color-white;
  color: vars.$font-text;
  counter-reset: num;
}

// body.allsection .logo-link {
//   color: vars.$color-dark;
// }
// body.allsection .icon-logo {
//   color: vars.$color-dark;
// }
// body.allsection .menu a {
//   color: vars.$color-dark;
// }

// body.allsection .menu li:last-child {
//   border-radius: 20px;
//   background-color: vars.$color-btn-menu;
// }

body.allsection {
  .logo-link,
  .icon-logo,
  .menu a {
    color: vars.$color-dark;
  }

  .menu li:last-child {
    border-radius: 20px;
    background-color: vars.$color-btn-menu;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1;
  width: 100%;

  @include mobile-small {
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
  }
}

.btn {
  // padding: 10px 20px;
  padding: vars.$padding-standard;
  // border: 1px solid black;
  border-radius: 2.5rem;
}

.no-border-header {
  border-bottom: none;
}

.btn-bg-color {
  background-color: vars.$color-btn-menu;
}

.no-border {
  border: none;
}
