@use '../variables' as vars;
@use '../mixins' as *;

footer {
  border-top: 2px solid vars.$color-footer-border;
}
.footer-content {
  display: flex;
  height: 70px;
  min-height: 70px;
  justify-content: center;
  align-items: center;
  font-family: vars.$font-logo-footer; // "Lato", sans-serif;
  font-weight: vars.$font-light; // 300
  text-transform: uppercase;

    @include mobile-small{
      flex-direction: row;
      text-align: center;
      flex-wrap: wrap;
      font-size: 10px;
      height: auto;
      min-height: 50px;
      padding: 0 20px;
    }
}
