@use '../variables' as vars;

footer {
  border-top: 2px solid vars.$color-footer-border; // rgb(208, 178, 178);
}
.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-family: vars.$font-logo-footer;  // "Lato", sans-serif; 
  font-weight: vars.$font-light; // 300
  text-transform: uppercase;
}
