@use '../variables' as vars;
@use '../mixins' as *;

footer {
  border-top: 2px solid vars.$color-footer-border;
}
.footer-content {
  display: flex;
  height: 70px;
  min-height: 70px;
  justify-content: center;
  align-items: center;
  font-family: vars.$font-logo-footer; // "Lato", sans-serif;
  font-weight: vars.$font-light; // 300
  text-transform: uppercase;

  @include mobile-small {
    font-size: 12px;
    text-align: center;
    padding: 0 20px;
  }
  @include mobile {
    font-size: 12px;
    text-align: center;
    padding: 0 20px;
  }
}

body.allsection footer {
  @include mobile-small {
    font-size: 15px;
    text-align: center;
    margin-top: 80px;
  }

  @include mobile {
    font-size: 15px;
    text-align: center;
    margin-top: 80px;
  }
}
