@use '../variables' as vars;
@use '../mixins' as *;

body.home header {
  background-image: url('/src/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  // color: vars.$color-dark;
  height: calc(100vh - 70px);
  position: relative;

  body.home header {
    @include mobile-small {
      height: auto;
      padding: 2rem 1rem;
    }
  }
}
body:not(.home) header {
  background-image: none;
  height: 70px !important;
  // color: black;
}

.header-hero {
  padding-top: 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile-small {
    // justify-content: center;
  }
}

.logo-slogan {
  font-size: vars.$font-size-logo;
  font-weight: vars.$font-extra-light;
  letter-spacing: 5px;
  font-family: vars.$font-logo-footer;

  @include mobile-small {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 24px;
  }
}

.logo-link {
  color: vars.$color-white;
}

.icon-logo {
  font-size: 2.75rem;
  padding-left: 1.25rem;
  vertical-align: middle;
  color: vars.$color-white;

  @include mobile-small {
    display: none;
  }
}

.menu {
  display: flex;
  font-size: vars.$font-size-text;
  letter-spacing: 2px;
  text-transform: uppercase;

  li {
    list-style-type: none;
    padding: vars.$padding-standard;

    a {
      text-decoration: none;
      color: vars.$color-white;
      transition: color 0.3s ease;

      &:hover {
        color: vars.$color-dark;
      }
    }
  }
  @include mobile-small {
    display: none; // domyślnie ukryte na mobile
    flex-direction: column;
    position: absolute;
    top: 100px; // dostosuj do wysokości headera
    right: 50px;
    width: fit-content;
    background-color: transparent;
    z-index: 10;
    font-size: 10px;
  }
}

.menu.menu-active {
  @include mobile-small {
    display: flex; // po kliknięciu pokazujemy menu jako kolumnę
  }
}

.icon-menu {
  display: none;

  @include mobile-small {
    display: inline;
    color: vars.$color-white;
    position: absolute;
    top: 30px;
    right: 50px;
    font-size: 40px;
  }
}

body.home .menu li:last-child {
  border-radius: 1.25rem;
  background-color: vars.$color-white;
  font-family: var(--main-font);

  a {
    color: vars.$color-dark;
  }

  &:hover {
    opacity: 0.7;
  }
}

.header-content {
  // margin-top: 20vh;
  margin-top: 245px;
  color: vars.$color-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  text-transform: uppercase;
  font-size: vars.$font-size-hero;
  font-weight: vars.$font-extra-light;
  color: vars.$color-white;
  letter-spacing: 5px;
  margin-top: 90px;

  @include mobile-small {
    font-size: 38px;
    margin-top: 110px;
  }
}
