@use '../variables' as vars;
@use '../mixins' as *;

body.home header {
  background-image: url('/src/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  // color: vars.$color-dark;
  height: calc(100vh - 70px);

  @include mobile {
    height: calc(100vh - 50px);
  }
}
body:not(.home) header {
  background-image: none;
  height: 70px !important;
  // color: black;
}

.header-hero {
  // height: 70px;
  padding-top: 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // font-family: var(--secondary-font);

  @include mobile {
    padding: 10px 20px;
  }
}

.logo-slogan {
  font-size: vars.$font-size-logo;
  font-weight: vars.$font-extra-light;
  letter-spacing: 5px;
  font-family: vars.$font-logo-footer;

  @include mobile {
    font-size: 16px;
    letter-spacing: 3px;
  }
}
.logo-link {
  color: vars.$color-white;
}

.icon-logo {
  font-size: 2.75rem;
  padding-left: 1.25rem;
  vertical-align: middle;
  color: vars.$color-white;

  @include mobile {
    font-size: 24px;
    margin-left: 80px;
  }
}
.menu {
  display: flex;
  font-size: vars.$font-size-text;
  letter-spacing: 2px;
  text-transform: uppercase;

  @include mobile {
    display: none;
  }

  li {
    list-style-type: none;
    padding: vars.$padding-standard;

    a {
      text-decoration: none;
      color: vars.$color-white;
      transition: color 0.3s ease;

      &:hover {
        color: vars.$color-dark;
      }
    }
  }
}
body.home .menu li:last-child {
  border-radius: 1.25rem;
  background-color: vars.$color-white;
  font-family: var(--main-font);

  a {
    color: vars.$color-dark;
  }

  &:hover {
    opacity: 0.7;
  }
}

.header-content {
  margin-top: 245px;
  // margin-top: 475px;
  color: vars.$color-blue;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    flex-direction: row;
    justify-content: center;
  }
}

.hero-title {
  text-transform: uppercase;
  font-size: vars.$font-size-hero;
  font-weight: vars.$font-extra-light;
  color: vars.$color-white;
  letter-spacing: 5px;
  margin-top: 90px;

  @include mobile {
    font-size: 30px;
    margin-top: 160px;
  }
}
