@use '../variables' as vars;
@use '../mixins' as *;

body.home header {
  background-image: url('/src/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  // color: vars.$color-dark;
  height: calc(100vh - 70px);
  position: relative;

  @include mobile-small {
    height: auto;
    padding: 2rem 1rem;
  }
}

body:not(.home) header {
  background-image: none;
  height: 70px !important;
  // color: black;
}

.header-hero {
  padding-top: 1.875rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mobile-small {
    // justify-content: center;
  }
}

.logo-slogan {
  font-size: vars.$font-size-logo;
  font-weight: vars.$font-extra-light;
  letter-spacing: 5px;
  font-family: vars.$font-logo-footer;

  @include mobile-small {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: 1.5rem; // zamiana 24px na rem
    margin-top: 2.5rem; // zamiana 40px na rem (1rem = 16px)
  }
}

.logo-link {
  color: vars.$color-white;
}

.icon-logo {
  font-size: 2.75rem;
  padding-left: 1.25rem;
  vertical-align: middle;
  color: vars.$color-white;

  @include mobile-small {
    display: none;
  }
}

.menu {
  display: flex;
  font-size: vars.$font-size-text;
  letter-spacing: 2px;
  text-transform: uppercase;

  li {
    list-style-type: none;
    padding: vars.$padding-standard;

    a {
      text-decoration: none;
      color: vars.$color-white;
      transition: color 0.3s ease;

      &:hover {
        color: vars.$color-dark;
      }
    }
  }

  @include mobile-small {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 7.5rem; // zamiana 120px na rem
    right: 3.125rem; // zamiana 50px na rem
    width: fit-content;
    background-color: transparent;
    z-index: 10;
    font-size: 1rem; // zamiana 10px na rem (czyli 16px)
  }
}

.menu.menu-active {
  @include mobile-small {
    display: flex;
  }
}

.icon-menu {
  display: none;
  margin-top: 2.5rem; // 40px → rem

  @include mobile-small {
    display: inline;
    color: vars.$color-white;
    position: absolute;
    top: 1.875rem; // 30px → rem
    right: 3.125rem; // 50px → rem
    font-size: 2.5rem; // 40px → rem
  }
}

.menu-allsection {
  color: vars.$color-dark;
}

body.home .menu li:last-child {
  border-radius: 1.25rem;
  background-color: vars.$color-white;

  a {
    color: vars.$color-dark;
  }

  &:hover {
    opacity: 0.8;
  }
}

.header-content {
  margin-top: 15.3rem; // 245px → rem
  color: vars.$color-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  text-transform: uppercase;
  font-size: vars.$font-size-hero;
  font-weight: vars.$font-extra-light;
  color: vars.$color-white;
  letter-spacing: 5px;
  margin-top: 5.625rem; // 90px → rem

  @include mobile-small {
    font-size: 2.25rem; // 36px → rem
    margin-top: 5.625rem; // 90px → rem
  }
}
