@use '../variables' as vars;
@use '../mixins' as *;

.about-container {
  height: calc(100vh - 70px - 70px);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-radius: 45px;

  @include mobile-small {
    flex-direction: column-reverse;
    height: auto; 
    padding: 0 20px;
    margin-top: 230px;
  }
}
.about-details {
  // background-color: #f2f2f1;
  padding: vars.$padding-large;
  height: 450px;
  border-radius: 0px 30px 30px 0px;

  @include mobile-small {
    width: 100%;
    height: auto; // <-- dajemy swobodę wysokości
    padding: 0;
  }
}

.about-title {
  text-align: center;
  text-transform: uppercase;
  font-size: vars.$font-size-heading;
  margin-bottom: 30px;
  font-weight: vars.$font-thin;

  @include mobile-small {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 0 8px;
  }
}
.about-text {
  text-align: justify;
  line-height: 1.5rem;
  color: vars.$color-text;
  font-size: 18px; // do poprawy
  color: vars.$color-dark;
  font-family: vars.$font-text;
  font-weight: vars.$font-thin;

  @include mobile-small {
    padding: 40px 20px;
    max-width: 500px;
    // margin: 0 auto;
    font-size: 1.125rem; //18px
  }
}

img {
  width: auto;
  height: 450px;
  border-radius: 16px 8px 8px 8px;
  box-shadow: 8px 12px 8px -7px rgba(66, 68, 90, 1);

  @include mobile-small {
    max-width: 80%; 
    height: auto; 
    margin-bottom: 6.25rem;
  }
}
