// about me

.about {
    background-color: #f2f2f1;
    // background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-radius: 40px;
  }
  .about-details {
    padding: 50px;
  }
  .about-title {
    margin-bottom: 50px;
  }
  .icon-about {
    font-size: 40px;
  }
  .about-text {
    font-size: 18px;
    line-height: 2rem;
  }
  
  img {
    width: 400px;
    height: 450px;
    border-radius: 40px 2px 2px 40px;
  }
  