@use '../variables' as vars;

.about-container {
  height: calc(100vh - 70px - 70px);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  border-radius: 45px;
}
.about-details {
  // background-color: #f2f2f1;
  padding: vars.$padding-large;
  height: 450px;
  border-radius: 0px 30px 30px 0px;
}

.about-title {
  text-align: center;
  text-transform: uppercase;
  font-size: vars.$font-size-heading;
  margin-bottom: 30px;
  font-weight: vars.$font-thin;
}
.about-text {
  text-align: justify;
  line-height: 1.5rem;
  color: vars.$color-text;
  // color: vars.$color-dark;
  font-family: vars.$font-text;
  font-weight: vars.$font-thin;
}

img {
  width: auto;
  height: 450px;
  border-radius: 16px 8px 8px 8px;
  box-shadow: 8px 12px 8px -7px rgba(66, 68, 90, 1);
}
