// therapy
@use '../variables' as vars;
@use '../mixins' as *;
.therapy {
  height: calc(100vh - 70px - 50px - 70px);
  font-family: vars.$font-text;
  font-weight: vars.$font-thin;
  font-size: vars.$font-size-text;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  color: vars.$color-dark;

  @include mobile-small {
    height: 100%;
  }
}

.article-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @include mobile-small {
    flex-direction: column;
    margin-top: 130px;
  }
}

.article {
  width: 33%;
  text-align: justify;

  @include mobile-small {
    width: 100%;
  }
}

.article-title {
  font-family: vars.$font-main;
  font-size: vars.$font-size-heading;
  text-transform: uppercase;
  color: vars.$color-dark;
  text-align: center;
  margin-bottom: 30px;
  margin-left: 5px;

  @include mobile-small {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 0 8px;
  }
}
.article-text {
  // margin-bottom: 30px;
  padding: 40px;
  line-height: 1.5rem;
  // font-size: 18px;

  @include mobile-small {
    padding: 40px;
    font-size: 18px;
  }
}
blockquote {
  height: 50px;
  text-align: right;
  position: relative;
  color: vars.$color-dark;
  margin-bottom: 50px;

  @include mobile-small {
    position: relative;
    // font-size: 12px;
    text-align: center;
    top: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }
}

blockquote::before {
  content: '';
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
  border-left: 5px solid vars.$color-btn-menu;

  @include mobile-small {
    display: none;
  }
}
